﻿
@{
    ViewBag.Title = "Login";
}

<!-- Login Form -->
<div class="text-center">

        <img class="mb-4" src="~/css/Images/retrologo.png" alt="" width="72" style="height: auto;">
        <h1 class="h3 mb-3 font-weight-normal">Proszę się zalogować</h1>
        <center>
            <div class="col-md-6 mb-3">
                <form method="post" action="@Url.Action("PerformLogin")" class="form-signin">
                     @*Login*@ 
                    <label for="inputEmail">Adres Email</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Adres Email" name="email" required="" autofocus="">
                    <div class="valid-feedback">
                        Ok!
                    </div>
                    <div class="invalid-feedback">
                        Prosze wpisac poprawny E-Mail.
                    </div>
                     @*Haslo*@ 
                    <label for="inputPassword">Hasło</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" name="password" required="">
                    <div class="valid-feedback">
                        Ok!
                    </div>
                    <div class="invalid-feedback">
                        Prosze wpisac haslo.
                    </div>
                   <br /><br />
                    <button class="btn btn-primary btn-block" type="submit">Zaloguj</button>
                </form>
            </div>
        </center>
</div>

