﻿@{ ViewData["Title"] = "Home Page"; }

@model List<RetroKomisMVC.Models.Car>


<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid" style="width: 100% !important;">
    <div class="container">
        <h1 class="display-4 text-left text-black-50">Sprawdź nasze <span>oferty</span><br /> i znajdź coś dla <span>siebie!</span></h1>
        <a href="/Car/Index">
            <p class="text-left text-black-50">
                Sprawdź wszystkie oferty
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                </svg>
            </p>
        </a>
    </div>
</div>
<!-- Container -->
<div class="container">
    <!-- Search Panel -->
    <div class="row justify-content-center">
        <div class="col-lg-10 search-panel">
            <div class="row">
                <!-- Marka -->
                <div class="col-lg">
                    <label for="FormControlSelectMarka">
                        <center><h4>Wyszukaj</h4></center>
                    </label>
                    <center>
                        <form method="post" action="@Url.Action("SearchQuery", "Car")">
                            <input type="text" id="query" class="form-control" placeholder="Tutaj wpisz frazę" name="query" required="" autofocus="">
                            <br />
                            <div class="col text-center align-text-bottom">
                                <button type="submit" class="btn btn-outline-secondary">szukaj</button>
                            </div>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Karty -->
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @if (Model == null)
            {
                <div class="text-center">
                    Brak ogloszen
                </div>
            }
            else if (Model.Count > 6)
            {

                for (int i = Model.Count - 1; i > Model.Count - 7; i--)
                {
                    <div class="col-md-4 mt-3">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="@Model[i].MiniFotoUrl" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
                            <div class="card-body">
                                <!-- Brand -->
                                <p class="card-text">
                                    @Model[i].Brand - @Model[i].Model
                                </p>
                                <!-- Some info -->
                                <p class="card-text">
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    @Html.ActionLink("Szczegóły", "Details", "Car", new { Model[i].Id }, new { @class = "btn btn-sm btn-outline-secondary" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                foreach (var car in Model)
                {
                    <div class="col-md-4 mt-3">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="@car.MiniFotoUrl" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
                            <div class="card-body">
                                <!-- Brand -->
                                <p class="card-text">
                                    @car.Brand - @car.Model
                                </p>
                                <!-- Some info -->
                                <p class="card-text">
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    @Html.ActionLink("Szczegóły", "Details", "Car", new { car.Id }, new { @class = "btn btn-sm btn-outline-secondary" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


