﻿@model RetroKomisMVC.Models.Car

<style>
    span#red {
        color: red;
    }

    .info {
        color: white;
        background-color: #142355;
        text-align: center;
        cursor: pointer;
        height: 35px;
    }

        .info p {
            padding-top: 5px;
        }

        .info:hover {
            background-color: #0a122b;
        }
</style>


<div class="info">
    <p>Uwaga! W celu dodania niektórych informacji do ogłoszenia prosimy o bezpośredni kontakt z administratorem. Dziękujemy za wyrozumiałość.</p>
</div>
<div class="container mt-5 mb-5">
    <form method="post" action="@Url.Action("Add")" validate>
        <!-- row 1 -->
        <div class="row">
            <!-- Year of production -->
            <div class="col">
                <div class="form-group ">
                    <label for="date"><span id="red">*</span>Data produkcji</label>
                    <input class="form-control" id="datepicker" name="FirstRegistration" placeholder="YYYY" type="text" required="" oninvalid="this.setCustomValidity('Prosze wpisac rok produkcji.')" oninput="setCustomValidity('')" />
                </div>
            </div>
            <!-- Brand -->
            <div class="col">
                <div class="form-group">
                    <label for="brand"><span id="red">*</span>Marka pojazdu</label>
                    <input type="text" class="form-control" id="brand" name="Brand" placeholder="Marka pojazdu" required="" oninvalid="this.setCustomValidity('Prosze wpisac marke pojazdu..')" oninput="setCustomValidity('')" />
                </div>
            </div>
            <!-- Model -->
            <div class="col">
                <div class="form-group">
                    <label for="model"><span id="red">*</span>Model pojazdu</label>
                    <input type="text" class="form-control" id="model" name="Model" placeholder="Model pojazdu" required="" oninvalid="this.setCustomValidity('Prosze wpisac model pojazdu.')" oninput="setCustomValidity('')" />
                </div>
            </div>
            <!-- Price -->
            <div class="col">
                <div class="form-group">
                    <label for="model"><span id="red">*</span>Cena</label>
                    <input type="number" class="form-control" id="model" name="Price" placeholder="Cena pojazdu" required="" oninvalid="this.setCustomValidity('Prosze wpisac cene pojazdu.')" oninput="setCustomValidity('')" />
                </div>
            </div>
        </div>
        <!-- row 2 -->
        <div class="row">
            <!-- Registration number -->
            <div class="col">
                <div class="form-group">
                    <label for="model"><span id="red">*</span>Nr rejestracyjny (niepubliczny)</label>
                    <input type="text" class="form-control" id="model" name="Registration" placeholder="Nr rejestracyjny" required="" oninvalid="this.setCustomValidity('Prosze wpisac numer rejestracyjy pojazdu.')" oninput="setCustomValidity('')" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="model"><span id="red">*</span>Url zdjęcia</label>
                    <input type="text" class="form-control" id="foto" name="FotoUrl" placeholder="Url zdjęcia" required="" oninvalid="this.setCustomValidity('Prosze wkleić url zdjęcia.')" oninput="setCustomValidity('')" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="model"><span id="red">*</span>Url miniaturki</label>
                    <input type="text" class="form-control" id="foto" name="MiniFotoUrl" placeholder="Url miniaturki" required="" oninvalid="this.setCustomValidity('Prosze wkleić url zdjęcia.')" oninput="setCustomValidity('')" />
                </div>
            </div>
            <!-- Fuel Type -->
            <div class="col">
                <fieldset disabled>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Rodzaj paliwa</label>
                        <select class="form-control" id="fueltype">
                            <option selected disabled>Wybierz opcje</option>
                            <option>Benzyna</option>
                            <option>Diesel</option>
                        </select>
                    </div>
                </fieldset>
            </div>
            <!-- Horse power -->
            <div class="col">
                <div class="form-group">
                    <label for="horsepower">Moc pojazdu</label>
                    <input type="number" class="form-control" id="horsepower" placeholder="Moc pojazdu" readonly />
                </div>
            </div>
            <!-- Engine capacity -->
            <div class="col">
                <div class="form-group">
                    <label for="enginecapacity">Pojemnosc silnika</label>
                    <input type="number" class="form-control" id="enginecapacity" placeholder="Pojemnosc silnika" readonly />
                </div>
            </div>
        </div>
        <!-- row 3 -->
        <div class="row">
            <!-- Number of doors -->
            <div class="col">
                <fieldset disabled>
                    <div class="form-group">
                        <label for="numberofdoors">Ilosc drzwi</label>
                        <select class="form-control" id="numberofdoors">
                            <option selected disabled>Wybierz opcje</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </fieldset>
            </div>
            <!-- Transmission -->
            <div class="col">
                <fieldset disabled>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Skrzynia biegów</label>
                        <select class="form-control" id="transmission">
                            <option selected disabled>Wybierz opcje</option>
                            <option>Automatyczna</option>
                            <option>Manualna</option>
                        </select>
                    </div>
                </fieldset>
            </div>
            <!-- Color -->
            <div class="col">
                <fieldset disabled>
                    <div class="form-group">
                        <label for="color">Kolor</label>
                        <select class="form-control" id="color">
                            <option selected disabled>Wybierz opcje</option>
                            <option>Czarny</option>
                            <option>Czerwony</option>
                            <option>Niebieski</option>
                            <option>Bialy</option>
                            <option>Pomaranczowy</option>
                            <option>Inny</option>
                        </select>
                    </div>
                </fieldset>
            </div>
        </div>
        <!-- row 4 -->
        <div class="row">
            <!-- Car mileage -->
            <div class="col">
                <div class="form-group">
                    <label for="carmileage"><span id="red">*</span>Przebieg pojazdu</label>
                    <input type="number" class="form-control" id="carmileage" name="Milometer" placeholder="Przebieg pojazdu" required="" oninvalid="this.setCustomValidity('Prosze wpisac przebieg pojazdu.')" oninput="setCustomValidity('')" />
                </div>
            </div>
            <!-- Vehicle condition -->
            <div class="col">
                <label for="vehiclecondition">Stan pojazdu</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="new" value="nowy" disabled>
                    <label class="form-check-label" for="new">
                        Nowy
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="used" value="uzywany" disabled>
                    <label class="form-check-label" for="used">
                        Uzywany
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="damage" value="uszkodzony" disabled>
                    <label class="form-check-label" for="damage">
                        Uszkodzony
                    </label>
                </div>
            </div>
        </div>
        <!-- Car description -->
        <div class="form-group">
            <label for="exampleFormControlTextarea1"><span id="red" name="Description">*</span>Opis</label>
            <textarea class="form-control" id="description" name="Description" rows="3" required="" oninvalid="this.setCustomValidity('Prosze uzupelnic opis.')" oninput="setCustomValidity('')"></textarea>
        </div>
        <!-- Photos -->
        <div class="row">
            <div class="col">
                <input type="file" asp-for="FotoUrl" name="FotoUrl" value="@ViewBag.ImgPath" disabled />
            </div>
            <div class="col">
                <input type="file" asp-for="FotoUrl" name="FotoUrl" value="@ViewBag.ImgPath" disabled />
            </div>
            <div class="col">
                <input type="file" asp-for="FotoUrl" name="FotoUrl" value="@ViewBag.ImgPath" disabled />
            </div>
            <div class="col">
                <input type="file" asp-for="FotoUrl" name="FotoUrl" value="@ViewBag.ImgPath" disabled />
            </div>
            <div class="col">
                <input type="file" asp-for="FotoUrl" name="FotoUrl" value="@ViewBag.ImgPath" disabled />
            </div>
            <div class="col">
                <input type="file" asp-for="FotoUrl" name="FotoUrl" value="@ViewBag.ImgPath" disabled />
            </div>
        </div>
        <!-- Submit -->
        <div class="row">
            <div class="col text-right">
                <input type="submit" value="Dodaj samochód" class="btn btn-primary" style="margin-top:30px" />
            </div>
        </div>
    </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<script>
    $("#datepicker").datepicker({
        format: "yyyy",
        viewMode: "years",
        minViewMode: "years"
    });
</script>