﻿@model List<RetroKomisMVC.Models.Car>


<div class="info">
    <p>Uwaga! Klikajac przycisk 'Usun' ogloszenie jest usuwane bezpowrotnie. Prosimy o przemyslane decyzje.</p>
</div>
<div class="container mt-5 mb-5">
    <h4 class="text-center">Zarzadzaj ogloszeniami</h4>
    <div class="card" style="background-color: #f3f5fb !important;">
        <table class="table">
            <thead>
                <tr>
                    <th style="border-bottom-color: #dee2e6 !important;"></th>
                    <th style="border-bottom-color: #dee2e6 !important;">Tytul</th>
                    <th style="border-bottom-color: #dee2e6 !important;">Cena</th>
                    <th style="border-bottom-color: #dee2e6 !important;">
                        @Html.ActionLink("Dodaj", "Add", "Car", null, new { @class = "btn btn-danger btn-sm"})
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.MiniFotoUrl" style="width:230px !important; height: 150px !important;" /></td>
                    <td>@Html.DisplayFor(modelItem => item.Brand) - @Html.DisplayFor(modelItem => item.Model)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>
                        @Html.ActionLink("Usun", "Remove", "Car", new { item.Id }, new { @class = "btn btn-danger btn-sm" })
                        @Html.ActionLink("Szczegóły", "Details", "Car", new { item.Id }, new { @class = "btn btn-secondary btn-sm" })
                        @Html.ActionLink("Edytuj", "Edit", "Car", new { item.Id }, new { @class = "btn btn-secondary btn-sm" })
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<style>
    .info {
        color: white;
        background-color: #142355;
        text-align: center;
        cursor: pointer;
        height: 35px;
    }

        .info p {
            padding-top: 5px;
        }

        .info:hover {
            background-color: #0a122b;
        }
</style>

<script>
    $(document).ready(function () {
        $(".info").click(function () {
            $(this).slideUp();
        })
    })
</script>