﻿@model RetroKomisMVC.Models.Car

<div class="container mt-5 mb-5" style="max-width: 1300px !important;">
    <div class="row">
        <!-- Carousel -->
        <div class="col-md-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="@Model.MiniFotoUrl" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="@Model.MiniFotoUrl" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="@Model.MiniFotoUrl" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="border-bottom mt-3"></div>
        </div>
        <!-- Car info -->
        <div class="col-md-4">
            <h5>@Model.Brand  @Model.Model</h5>
            <p class="mt-3">@Model.FirstRegistration · @Model.Milometer · benzyna</p>
            <h4 class="mt-3 mb-3">Cena</h4>
            <div class="border-bottom"></div>
            <input onclick="change()" type="button" class="btn btn-danger mt-4 mb-4 text-center" value="Pokaż cenę" id="myButton1" style="width: 70% !important;"></input>
            <div class="border-bottom"></div>
            <p class="text-muted text-uppercase mt-3" style="font-size: 11px;">Osoba prywatna</p>
            <h5 class="font-weight-bold mb-3" style="margin-top: -18px;"></h5>
            <div class="border-bottom"></div>
            <h5 class="mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                </svg>
                Lokalizacja
            </h5>
            <p class="mb-3">Polska</p>
            <div class="border-bottom"></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <h4 class="font-weight-bold">Szczegóły</h4>
            <div class="row text-muted mt-5" style="font-size: 15px;">
                <div class="col">Marka pojazdu</div>
                <div class="col text-primary">@Model.Brand</div>
                <div class="col">Model pojazdu</div>
                <div class="col text-primary">@Model.Model</div>
            </div>
            <div class="row text-muted mt-3" style="font-size: 15px;">
                <div class="col">Rok produkcji</div>
                <div class="col text-primary">@Model.FirstRegistration</div>
                <div class="col">Przebieg pojazdu</div>
                <div class="col text-primary">@Model.Milometer</div>
            </div>
            <div class="row text-muted mt-3" style="font-size: 15px;">
                <div class="col">Ilosc drzwi</div>
                <div class="col text-primary">nieokreślony</div>
                <div class="col">Skrzynia biegów</div>
                <div class="col text-primary">manualna</div>
            </div>
            <div class="row text-muted mt-3" style="font-size: 15px;">
                <div class="col">Kolor pojazdu</div>
                <div class="col text-primary">nieokreślony</div>
                <div class="col">Stan pojazdu</div>
                <div class="col text-primary">nieokreślony</div>
            </div>
            <div class="row text-muted mt-3" style="font-size: 15px;">
                <div class="col">Moc pojazdu</div>
                <div class="col text-primary">nieokreślona</div>
                <div class="col">Pojemnosc silnika</div>
                <div class="col text-primary">nieokreślona</div>
            </div>
            <div class="row text-muted mt-3 mb-3" style="font-size: 15px;">
                <div class="col">Rodzaj paliwa</div>
                <div class="col text-primary">benzyna</div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="border-bottom"></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <h4 class="font-weight-bold">Opis</h4>
            <div class="row mt-5" style="font-size: 20px;">
                <div class="col">
                    @Model.Description
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function change() // no ';' here
    {
        var elem = document.getElementById("myButton1");
        if (elem.value == "@Model.Price") elem.value = "Pokaz cenę";
        else elem.value = "@Model.Price";
    }
</script>
