﻿@model RetroKomisMVC.Models.Car

<form method="post" action="@Url.Action("PerformEdit")" class="form-signin">
    @*Login*@
    <label for="input">Marka</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Marka" name="Brand" required="" autofocus="" value="@Model.Brand">
    @*Haslo*@
    <br />
    <label for="input">Model</label>
    <input type="text" class="form-control" placeholder="Model" name="Model" required="" value="@Model.Model">
    <br />
    <br />
    <label for="input">Id</label>
    <input type="text" class="form-control" placeholder="Model" name="Id" required="" value="@Model.Id">
    <br />
    <label for="input">Rok produkcji</label>
    <input type="text" class="form-control" placeholder="FirstRegistration" name="FirstRegistration" required="" value="@Model.FirstRegistration">
    <br />
    <label for="input">Przebieg</label>
    <input type="text" class="form-control" placeholder="Milometer" name="Milometer" required="" value="@Model.Milometer">
    <br />
    <label for="input">Cena</label>
    <input type="text" class="form-control" placeholder="Price" name="Price" required="" value="@Model.Price">
    <br />
    <label for="input">ZdjecieUrl</label>
    <input type="text" class="form-control" placeholder="FotoUrl" name="FotoUrl" required="" value="@Model.FotoUrl">
    <br />
    <label for="input">MiniturkaUrl</label>
    <input type="text" class="form-control" placeholder="FotoUrl" name="MiniFotoUrl" required="" value="@Model.MiniFotoUrl">
    <br />
    <label for="input">Opis</label>
    <input type="text" class="form-control" placeholder="Opis" name="Description" required="" value="@Model.Description">
    <br /><br />
    <button class="btn btn-primary btn-block" type="submit">Zapisz</button>
</form>