﻿@model IEnumerable<RetroKomisMVC.Models.Car>


<div class="container body-content">
    <div class="row">
        @if (Model == null)
        {
            <div class="notfound">
                <center><textarea>Nic tu nie ma.</textarea></center>
            </div>
        }
        
        else
        {
            foreach (var car in Model)
            {
                <div class="container">
                    <div class="card flex-row flex-wrap" style="background-color: #f3f5fb !important;">
                        <!-- Image -->
                        <div class="card-header border-0" style="background-color: #f3f5fb !important;">
                            <img src="@car.MiniFotoUrl" alt="" width="252" height="200" class="card-img-top" style="width:270px !important; height: 190px !important;">
                        </div>
                        <div class="card-body">
                            <div class="card-block px-2">
                                <!-- Brand -->
                                <h4 class="card-title">
                                    <a asp-controller="Car" asp-action="Details" asp-route-id="@car.Id">@car.Brand</a>  @car.Model
                                </h4>
                                <!-- Description -->
                                <p class="card-desc">
                                    <small class="text-muted">
                                        @car.Description
                                    </small>
                                </p>
                                <!-- Info -->
                                <p class="card-info">
                                    <small class="text-muted">
                                        @car.FirstRegistration · @car.Milometer km
                                    </small>
                                </p>
                                @Html.ActionLink("Szczegóły", "Details", "Car", new { car.Id }, new { @class = "btn btn-primary float-right" })
                                <div class="text-right font-weight-bold" style="margin-top: -170px; color: red !important">
                                   <br /><br /> @car.Price.ToString("c")
                                    <x class="font-weight-normal" style="font-variant: small-caps;"></x>
                                </div>
                            </div>
                      </div>
                      <div class="w-100"></div>

                    </div>
                </div>
            }
        }
    </div>
</div>