﻿<br />
<br />

<h2><center>Nie zgubiłeś się przypadkiem?</center></h2>

<br />
<br />
<center>
    @Html.ActionLink("Chcę wrócić!", "Index", "Home", null, new { @class = "btn btn-primary" })
</center>
<br />