﻿@model RetroKomisMVC.Models.Car

<form method="post" action="@Url.Action("RemovingConfirmed")">
    <div class="container mt-5 mb-5">
        <h4 class="text-center">Czy na pewno chcesz usunąć ogłoszenie?</h4>
        <div class="card" style="background-color: #f3f5fb !important;">
            <div class="card-body">
                <div class="row border-bottom">
                    <div class="col">
                    </div>
                    <div class="col">
                        <p>Tytul</p>
                    </div>
                    <div class="col">
                        <p>Cena</p>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row mt-4">
                    <br />
                    <br />
                    <div class="col">
                        <img src="@Model.MiniFotoUrl" alt="@Model.Brand" class="card-img-top" style="width:230px !important; height: 150px !important;">
                    </div>
                    <div class="col">
                        <p> @Model.Brand - @Model.Model </p>
                    </div>
                    <div class="col">
                        <p class="font-weight-bold" style="color: red !important;">
                            @Model.Price
                            <sup class="font-weight-normal">BTC</sup>
                        </p>
                    </div>
                    <br />
                    <center><p>Czy na pewno chcesz usunąć? Jeśli tak, wpisz ID samochodu w pole poniżej </p></center>
                    <br />
                    <center><input type="text" name="Id" /></center>
                    <br />
                    <div class="col">
                        <div class="float-right">
                            <button type="submit" class="btn btn-danger btn-sm">
                                Usuń
                            </button>
                            <a href="/Car/Dashboard">
                                <button class="btn btn-secondary btn-sm">Powrot</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
