﻿    @model List<RetroKomisMVC.Models.Car>

    <table class="table" style="background-color: white">
        <thead>
            <tr>
                <th>Marka</th>
                <th>Model</th>
                <th>Pierwsza rejestracja</th>
                <th>Przebieg</th>
                <th>Kraj</th>
                <th>Opis</th>
                <th>Cena</th>
                <th>Miniaturka</th>
                <th>
                    <a asp-action="Add" class="btn btn-danger btn-sm">Dodaj nowy</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                    <td>@Html.DisplayFor(modelItem => item.Model)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstRegistration)</td>
                    <td>@Html.DisplayFor(modelItem => item.Milometer)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td><img src="@item.MiniFotoUrl" height="100" width="200" /></td>
                    <td>
                        @Html.ActionLink("Usun", "Remove", "Car", new { item.Id }, new { @class = "btn btn-danger btn-sm" })
                        @Html.ActionLink("Szczegóły", "Details", "Car", new { item.Id }, new { @class = "btn btn-success btn-sm" })
                        @Html.ActionLink("Edytuj", "Edit", "Car", new { item.Id }, new { @class = "btn btn-success btn-sm" })

                        @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger btn-sm" style="margin-bottom:3px">Szczegóły</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Edytuj</a>*@
                        @*<a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Usuń</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
