﻿<div class="text-center">

    <img class="mb-4" src="~/css/Images/retrologo.png" alt="" width="72" style="height: auto;">
    <h1 class="h3 mb-3 font-weight-normal">Co mamy wyświetlić?</h1>
    <center>
        <div class="col-md-6 mb-3">
            <form method="post" action="@Url.Action("SearchQuery")">
                <label for="query">Wyszukaj:</label>
                <input type="text" id="query" class="form-control" placeholder="Tutaj wpisz frazę" name="query" required="" oninvalid="this.setCustomValidity('Prosze wpisac model lub marke pojazdu.')" oninput="setCustomValidity('')" autofocus="">
                <button class="btn btn-primary btn-block" type="submit">Szukaj</button>
            </form>
        </div>
    </center>
</div>

