﻿
@{
    ViewBag.Title = "BitcoinCalculator";
}

<div class="container mt-5 mb-5">
	<div class="card">
        <div class="card-body">
            <div class="col">
                <center class="mb-5 mt-3">
                    <img src="~/Content/img/bitcoinlogo.png" class="mb-5" style="height: 55px; width: auto;" />
                    <div class="col">
                        <h4 class="mb-3">Kalkulator</h4>
                        <div class="form-group">
                            <select onchange="Currency(); Calculate()" class="form-control" id="converter" style="width:50%;">
                                <option value="Zloty">Zloty</option>
                                <option value="Dolar">Dolar</option>
                                <option value="Euro">Euro</option>
                            </select>
                            <br />
                            <input type="number" oninput="Calculate()" class="form-control" id="value1" style="width:50%;" />
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Bitcoin</label>
                            <input type="number" class="form-control" id="value2" disabled="disabled" style="width:40%;" />
                        </div>
                    </div>
                </center>
            </div>
        </div>
	</div>
</div>

<script>
	function Currency(){
		y = document.getElementById("converter").value;
		return y;
	}

	function Calculate(){
		y = Currency();

		x = document.getElementById("value1").value;

		if(x == "")
		{
			document.getElementById("value2").value = "";
		}
		else
		{
			switch(y){
				case "Zloty":
					document.getElementById("value2").value = x / 140000;
                    break;
                case "Dolar":
                    document.getElementById("value2").value = x / 37738;
                    break;
                case "Euro":
                    document.getElementById("value2").value = x / 30870;
                    break;
			}
		}
	}
</script>


