﻿@model RetroKomisMVC.Models.User
@{
    ViewBag.Title = "Register";
}

<style>
    span#red {
        color: red;
    }
</style>

<!-- HEADER -->
<header class="text-center">
    <h1 class="pt-5">Rejestracja</h1>
</header>
<!-- REGISTER FORM -->
<form method="post" action="@Url.Action("PerformRegister")" class="needs-validation pl-5 pr-5 pt-5 pb-5" validate>
    <div class="form-row form-group">
        <!-- Name -->
        <div class="col-md-6 mb-3">
            <label for="name"><span id="red">*</span>Imie</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Imie" value="" required="" oninvalid="this.setCustomValidity('Prosze wpisac imie.')" oninput="setCustomValidity('')">
            <div class="valid-feedback">
                Ok!
            </div>
            <div class="invalid-feedback">
                Wpisz imie.
            </div>
        </div>
        <!-- Surname -->
        <div class="col-md-6 mb-3">
            <label for="surname"><span id="red">*</span>Nazwisko</label>
            <input type="text" class="form-control" id="surname" name="surname" placeholder="Nazwisko" required="" oninvalid="this.setCustomValidity('Prosze wpisac nazwisko.')" oninput="setCustomValidity('')">
            <div class="valid-feedback">
                Ok!
            </div>
            <div class="invalid-feedback">
                Wpisz nazwisko.
            </div>
        </div>
    </div>
    <!-- Username -->
    <div class="form-group">
        <label for="username"><span id="red">*</span>Nazwa uzytkownika</label>
        <input type="text" class="form-control" id="username" name="Login" placeholder="Nazwa uzytkownika" required="" oninvalid="this.setCustomValidity('Prosze wpisac nazwe uzytkownika.')" oninput="setCustomValidity('')">
        <div class="valid-feedback">
            Ok!
        </div>
        <div class="invalid-feedback">
            Wpisz nazwe uzytkownika.
        </div>
    </div>
    <!-- Birthday date -->
    <div class="form-group">
        <label for="drivingLicense"><span id="red">*</span> Numer prawa jazdy </label>
        <input type="text" class="form-control" id="date" name="DrivingLicenseNumber" placeholder="Nr prawa jazdy"  required="" oninvalid="this.setCustomValidity('Prosze wpisać numer prawa jazdy.')" oninput="setCustomValidity('')"/>
        <div class="valid-feedback">
            Ok!
        </div>
        <div class="invalid-feedback">
            Podaj numer prawa jazdy
        </div>
    </div>
    <!-- E-mail adress -->
    <div class="form-group">
        <label for="email"><span id="red">*</span>Adres e-mail</label>
        <input type="email" class="form-control" id="email" name="Email" placeholder="E-mail" required="" oninvalid="this.setCustomValidity('Prosze wpisac poprawny adres e-mail.')" oninput="setCustomValidity('')">
        <div id="emailHelp" class="form-text" style="font-size: 12px;">
            Nigdy nie udostepnimy Twojego e-maila nikomu innemu.
        </div>
        <div class="valid-feedback">
            Ok!
        </div>
        <div class="invalid-feedback">
            Wpisz adres e-mail.
        </div>
    </div>
    <!-- Phone number -->
    <div class="form-group">
        <label for="phonenumber"><span id="red">*</span>Nr telefonu</label>
        <input type="tel" class="form-control" id="phonenumber" placeholder="Nr telefonu" name="PhoneNumber" required="" oninvalid="this.setCustomValidity('Prosze wpisac numer telefonu')" oninput="setCustomValidity('')"/>
        <div id="emailHelp" class="form-text" style="font-size: 12px;">
            Nigdy nie udostepnimy Twojego numeru telefonu nikomu innemu.
        </div>
        <div class="valid-feedback">
            Ok!
        </div>
        <div class="invalid-feedback">
            Wpisz numer telefonu.
        </div>
    </div>
    <!-- Password -->
    <div class="form-group">
        <label for="password"><span id="red">*</span>Haslo</label>
        <input type="password" class="form-control" id="password" name="Password" placeholder="Haslo" required="" oninvalid="this.setCustomValidity('Prosze wpisac haslo.')" oninput="setCustomValidity('')">
        <div id="passwordHelpBlock" class="form-text" style="font-size: 12px;">
            Twoje haslo musi zawierac od 8 do 20 znakow.
        </div>
        <div class="valid-feedback">
            Ok!
        </div>
        <div class="invalid-feedback">
            Wpisz haslo.
        </div>
    </div>
    <!-- Photo -->
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="customFile">
        <label class="custom-file-label" for="customFile" lang="pl">Wybierz plik</label>
    </div>
    <!-- Submit -->
    <div class="form-group pt-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required="" oninvalid="this.setCustomValidity('Prosze zaakceptowac regulamin.')" oninput="setCustomValidity('')">
            <label class="form-check-label" for="invalidCheck">
                Akceptuje <a href="#">regulamin</a>.
            </label>
            <div class="invalid-feedback">
                Musisz zaakceptowac regulamin!
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Zarejestruj</button>
    <!-- The message -->
    <div style="color: red; font-size: 12px;">
        * Pola oznaczone gwiazdka sa obowiazkowe. Pozostawienie pustych pol uniemozliwi dalsze kroki.
    </div>
</form>