﻿
@{
    ViewBag.Title = "UserPanel";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row flex-lg-nowrap">
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="mx-auto" style="width: 140px;">
                                            <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <!-- Name & Surname -->
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Imie Nazwisko</h4>
                                            <!-- Email -->
                                            <p class="mb-0">adres e-mail</p>
                                            <!-- Choose file -->
                                            <div class="mt-2">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlFile1">Wybierz plik</label>
                                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="" class="active nav-link">Ustawienia</a></li>
                                </ul>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <form class="form-group needs-validation" validate>
                                            <div class="row">
                                                <div class="col">
                                                    <!-- Name & Surname -->
                                                    <div class="row">
                                                        <!-- Name -->
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label for="name">Imie</label>
                                                                <input type="text" class="form-control" id="name" name="name" placeholder="Imie" value="" required="" oninvalid="this.setCustomValidity('Prosze wpisac imie.')" oninput="setCustomValidity('')">
                                                            </div>
                                                        </div>
                                                        <!-- Surname -->
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label for="surname">Nazwisko</label>
                                                                <input type="text" class="form-control" id="surname" name="surname" placeholder="Nazwisko" value="" required="" oninvalid="this.setCustomValidity('Prosze wpisac nowe nazwisko.')" oninput="setCustomValidity('')">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Username -->
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label for="username">Nazwa uzytkownika</label>
                                                                <input type="text" class="form-control" id="username" name="username" placeholder="Nazwa uzytkownika" value="" required="" oninvalid="this.setCustomValidity('Prosze wpisac nowa nazwe uzytkownika.')" oninput="setCustomValidity('')">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <!-- E-mail -->
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label for="email">E-mail</label>
                                                                <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" value="" required="" oninvalid="this.setCustomValidity('Prosze wpisac nowy adres email.')" oninput="setCustomValidity('')">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <!-- Bio -->
                                                        <div class="col mb-3">
                                                            <div class="form-group">
                                                                <label for="about">O mnie</label>
                                                                <textarea class="form-control" id="about" name="about" rows="5" placeholder="bio" value="" required="" oninvalid="this.setCustomValidity('Prosze wpisac cos o sobie.')" oninput="setCustomValidity('')"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <!-- Change password -->
                                                <div class="col-12 col-sm-6 mb-3">
                                                    <div class="mb-2"><b>Zmien Haslo</b></div>
                                                    <!-- Current password -->
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Aktualne haslo</label>
                                                                <input class="form-control" type="password" placeholder="••••••" required="" oninvalid="this.setCustomValidity('Prosze wpisac aktualne haslo.')" oninput="setCustomValidity('')">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- New password -->
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Nowe haslo</label>
                                                                <input class="form-control" type="password" placeholder="••••••" required="" oninvalid="this.setCustomValidity('Prosze wpisac nowe haslo.')" oninput="setCustomValidity('')">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Verify password -->
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Potwierdz nowe haslo <span class="d-none d-xl-inline">Password</span></label>
                                                                <input class="form-control" type="password" placeholder="••••••" required="" oninvalid="this.setCustomValidity('Prosze potwierdzic haslo.')" oninput="setCustomValidity('')">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- E-mail notify -->
                                                <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                    <div class="mb-2"><b>Badzmy w kontakcie</b></div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <label>Powiadomienia E-mail</label>
                                                            <div class="custom-controls-stacked px-2">
                                                                <!-- Notify about website -->
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                                                                    <label class="custom-control-label" for="notifications-website">Powiadomienia o stronie</label>
                                                                </div>
                                                                <!-- Newsletter -->
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                                                    <label class="custom-control-label" for="notifications-news">Newsletter</label>
                                                                </div>
                                                                <!-- Offers -->
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                                                                    <label class="custom-control-label" for="notifications-offers">Gorace oferty</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Save change -->
                                            <div class="row">
                                                <div class="col d-flex justify-content-end">
                                                    <button class="btn btn-primary" type="submit">Zapisz zmiany</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3 mb-3">
                    <!-- Wyloguj -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="px-xl-3">
                                <button class="btn btn-block btn-secondary">
                                    <i class="fa fa-sign-out"></i>
                                    <span>Wyloguj</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Kontakt -->
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title font-weight-bold">Wsparcie</h6>
                            <p class="card-text">Szybko odpowiemy na Twoje wiadomosci.</p>
                            @Html.ActionLink("Skontaktuj się z nami", "Index", "Comment", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>