﻿@model RetroKomisMVC.Models.Comment

<div class="container">
    <form action="@Url.Action("CommentSent")" method="post" class="form-horizontal" role="form">

        <div class="form-group">
            <label asp-for="Email" class="control-label"> Email </label>
            <div class="">
                <input type="email" name="Email" class="form-control" required="" oninvalid="this.setCustomValidity('Prosze wpisac adres email.')" oninput="setCustomValidity('')" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Content" class="control-label"> Treść wiadomości </label>
            <div class="">
                <input type="text" name="Content" class="form-control" />
            </div>
        </div>
        <br />
        <input type="submit" class="btn btn-primary" value="Leave a comment" />


    </form>
</div>
