﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RetroKomis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/style.css" />
    <script src="~/Scripts/yearpicker.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color: #f8f9fa !important;">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center" style="padding: 0rem 1rem !important;">
            <a href="/Home/Index" class="navbar-brand d-flex w-50 mr-auto">
                <img src="~/Content/img/retrologo.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
                <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Bitcoin/BitcoinCalculator">Kalkulator Bitcoin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Car/Index">Wszystkie ogłoszenia</a>
                    </li>
                </ul>
                @if (Session["Login"] == null)
                {
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="/Register/Register">
                                Rejestracja
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item btn btn-dark tombol" data-toggle="modal" data-target="#exampleModal" style="color: white;">
                                Zaloguj
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="/UserPanel/UserPanel">
                                Panel uzytkownika
                            </a>
                        </li>
                    <li class="nav-item">
                        @Html.ActionLink($"{Session["Login"]} (wyloguj)", "Logout", "Login")
                    </li>
                    </ul>
                }
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="text-lg-start border-top" style="background-color: #e9ecef !important;">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Retro Komis</h5>
                    <p>
                        Retro Komis to nowy, darmowy serwis ogłoszeniowy.
                        Tysiące ofert z całej Polski, ogłoszenia retro pojazdow
                        z największych miast: Warszawa, Poznań, Wrocław, Łódź, Kraków
                        oraz mniejszych miejscowości. U nas znajdziesz to, czego szukasz,
                        a także łatwo dodasz bezpłatne ogłoszenie.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Linki</h5>
                    <ul class="list-unstyled mb-1">
                        <li>
                            <a href="/Home/Index" class="text-dark">Strona główna</a>
                        </li>
                        <li>
                            <a href="/Bitcoin/BitcoinCalculator" class="text-dark">Kalkulator Bitcoin</a>
                        </li>
                        <li>
                            <a href="/Car/Index" class="text-dark">Ogłoszenia</a>
                        </li>
                        <li>
                            <a href="/Comment/Index" class="text-dark">Prześlij nam opinię</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3 text-white" style="background-color: #343a40 !important;">
            © 2020 Copyright: Edyta Walkowka & Sebastian Szwankowski
        </div>
    </footer>

    <!-- Modal Login -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Zaloguj się</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <center>
                            <div class="col-md-6 mb-3">
                                <form method="post" action="/Login/PerformLogin/" class="form-signin" validate>
                                    @*Login*@
                                    <label for="inputEmail">Adres Email</label>
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Adres Email" name="email" value="" required="" oninvalid="this.setCustomValidity('Prosze wpisac email.')" oninput="setCustomValidity('')" autofocus="">
                                    <div class="valid-feedback">
                                        Ok!
                                    </div>
                                    <div class="invalid-feedback">
                                        Prosze wpisac poprawny E-Mail.
                                    </div>
                                    @*Haslo*@
                                    <label for="inputPassword">Hasło</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" name="password" required="" oninvalid="this.setCustomValidity('Prosze wpisac haslo.')" oninput="setCustomValidity('')">
                                    <div class="valid-feedback">
                                        Ok!
                                    </div>
                                    <div class="invalid-feedback">
                                        Prosze wpisac haslo.
                                        <br /> <br />
                                    </div>
                                    @*Button*@
                                    <div class="buttons mt-4">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                        <button type="submit" class="btn btn-primary">Zaloguj</button>
                                    </div>
                                </form>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>