@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* ========== GLOBAL ========= */
nav img {
    height: auto;
    width: 100px;
}

nav button:hover {
    color: #ACDFEB !important;
}

nav ul li a{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.navbar-light .navbar-toggler {
    border: none;
}

.nav-welcome {
    font-family: 'Merriweather', serif;
}

.nav-welcome a {
    text-decoration: none;
    color: black;
}

marquee {
    background-color: #ACDFEB;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: darkgrey;
    /*word-spacing: 50px;*/
}

animation:przesun 10s linear infinite;
@keyframes przesun {
    0% { transform:translateX(0); }
    100% { transform:translateX(-100%); }
}

/* ========= HOME ========== */
.carousel-inner .page{
    height: 400px;
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid;
    border-color: darkgrey;
    padding-top: 65px;
    padding-bottom: 65px;
    font-family: 'Oswald', sans-serif;
}

.carousel-inner .page img {
    height: auto;
    width: 500px;
    position: absolute;
    right: 60px;
    bottom: 10px;
}

.carousel-inner .page h1 {
    font-weight: 500;
    font-size: 50px;
    padding-left: 30px;
}

.carousel-inner .page p {
    font-weight: 200;
    padding-left: 30px;

}

.carousel-indicators {
    filter: invert(100%);
}

.carousel-control-next .carousel-control-next-icon,
.carousel-control-prev .carousel-control-prev-icon {
    filter: invert(100%);
    width: 30px;
    height: 30px;
}

/* ========= REGISTER ========== */
header h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
}

.custom-file-label::after {
    content: "Szukaj";
}