﻿/* Colors */
.bg-gray-100 {
    background-color: #f8f9fa !important;
}

bg-gray-200 {
    background-color: #e9ecef !important;
}

bg-gray-800 {
    background-color: #343a40 !important;
}



/* Navbar */
nav img {
    height: 60px;
    width: auto;
}

/* Jumbotron */
.jumbotron {
    background-image: url(img/carjumbotron.jpg);
    background-size: cover;
    height: 540px;
    width: 100%;
}

.jumbotron .display-4 {
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 40px;
    margin-bottom: 30px
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* Search Panel */
.search-panel {
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: -60px;
    padding: 30px;
}

/* Desktop version */
@media (min-width: 992px) {
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50% !important;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .tombol {
        border-radius: 10px !important;
        width: 90px !important;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px
    }

    .jumbotron .display-4 {
            margin-top: 150px;
            font-weight: 200;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
            font-size: 65px;
            margin-bottom: 30px
    }
}
